html {
    height: 100%;
}

body {
    color: $hex6-grey;
    font-family: $font-secondary;
    font-weight: 300;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

h1,h2,h3,h4,h5{
    font-family: $font-primary;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all $transition ease-out;
    -moz-transition: all $transition ease-out;
    -ms-transition: all $transition ease-out;
    -o-transition: all $transition ease-out;
    transition: all $transition ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    min-height: 100%;
    position: relative;
    left: 0;
    padding-left: 0;
    &.active {
        #menu {
            left: 150px;
            width: 150px;
        }

        .menu-link {
            left: 150px;
        }
    }
}

.h100-vh{
    height:100vh !important;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: $sm) {

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
        &.active {
            .menu-link {
                left: 150px;
            }
        }
    }
}

@media (max-width: $sm-1) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
}