$min:16;
$max:24;

html {
    font-size: #{$min}px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(#{$min}px + #{$max - $min} * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: #{$max}px;
    }
}