/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    margin: 0;
    color: $hex3-grey;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid $e-grey;
    h1 {
        margin: 0.2em 0;
        //font-size: 3em;
    }
    h2 {
        color: $hex9-grey;
        padding: 0;
        margin-top: 0;
    }
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: $hex3-grey;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: $sm) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
}